# Ignore SLURM job logs
*.o*
*.e*

# Byte-code & build artefacts
__pycache__/
*.pyc
build/
dist/

# Large data
data/
results/

# Jupyter auto-save files
**/.ipynb_checkpoints/

# Build artefacts
*.egg-info/